Assignment 1: Basic Python Syntax and Data Types

In [ ]:
x=5    #int
y=5.2  #float
z=2+3j  #complex

a=x+y   #adding two variables
b=x+5   #adding a value to a value assigned variable

c="apple"   #string
l=['apple', 1, '*']     #list-can contain various data types
arr=['apple', 'banana', 'cherry']  #array-can contain only single data type
tup=(10, 11, 12)    #simialar to list but immutable
marks={'eng':98, 'maths':99, 'physics':95}      #dict, mutable
is_verified=True    #boolean variable

In [ ]:
l.insert(1, 5)     #mutable, inserting 1 at position 1
print(l)

['apple', 5, 1, '*']

In [ ]:
tup.append(5)   #immutable, append insert such keywords are not defined here
print(tup)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#using if statement and boolean
if is_verified :
    marks['eng']=85     #mutable, updating eng marks
    print(marks)

{'eng': 85, 'maths': 99, 'physics': 95}